#page-title {
    text-align: center;
    font-family: 'Marcellus', serif;
}

#name {
    text-align: center;
    font-family: 'Bershire Swash', cursive;
}

#body {
    text-align: center;
    font-family: 'Marcellus', serif;
}

#intro {
    text-align: left;
    font-family: 'Marcellus', serif;
}